/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Body Styles */
body {
    font-family: "PT Sans", sans-serif;
    background-color: #EBE8E2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
h1 {
    text-align: center;
    text-decoration: underline;
    color: #333;
}

h5 {
    text-align: left;
}

/* Paragraph Styles */
p {
    font-weight: bold;
}

/* Card Styles */
.card-container {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: space-between; /* Distribute cards evenly across the container */
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    height: 380px;
    width: calc(25% - 20px); /* Calculate card width to fit 4 cards in a row */
    /* Adjust margin to create space between cards */
    margin-right: 20px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-body {
    padding: 20px;
}

.card-title {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.card-text {
    color: #666;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

/* CSS for image inside the modal */
#modalImage {
    max-width: 100%; /* Ensure image does not exceed container width */
    max-height: 400px; /* Limit maximum height of the image */
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .modal-content {
        width: 90%; /* Adjust width for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    #modalImage {
        max-height: 300px; /* Reduce maximum height for smaller screens */
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
